.sk-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.sk-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: sk-dual-ring 1.2s linear infinite;
}

@keyframes sk-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
